@use './partials/base/_reset.scss';
@use './partials/base/_fonts.scss';


@use './partials/components/_headers.scss';
@use './partials/components/_footer.scss';
@use './partials/components/_main.scss';