@use '../utilities/mixins';

.carousel-base {
    max-width: 1100px;
    margin: 2rem auto;

    .carousel-item {
        height: 320px;
    }

    .carousel-item img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .carousel-caption {
        @include mixins.overlay-box;
        text-align: center;
    }
}

/* ===== EXTENDS ===== */
.carousel-index {
    @extend .carousel-base;
}

.carousel-servicios {
    @extend .carousel-base;
}

.carousel-marcas {
    @extend .carousel-base;
}
