@use '../utilities/variables';
.footer-p {
    font-size: 12px;
}

footer {
    border: 2px solid rgb(131, 128, 128);
    background-color: variables.$footer-bg-color;
    text-align: center;
    margin-top: 100px;
}