@use '../utilities/_variables.scss' as variables;
nav {
    .a-nav {
        text-decoration: none;
    }

    .li-nav {
        list-style-type: none;
    }

    .navbar-principal {
        border: 2px solid rgb(131, 128, 128);
        background-color: variables.$header-bg-color;
        margin-bottom: 20px;
        border-radius: 500px;
        margin: 50px;
        padding: 10px;
    }

    @media (max-width: 991px) {
        .navbar-collapse {
            &.show {
                text-align: center;
                padding-bottom: 1px;
            }
        }

        .navbar-nav {
            .nav-link {
                margin: 1px;
            }
        }

        .navbar-brand {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
