@use '../utilities/variables';
h1 {
    color: variables.$h1-color;
    text-align: center;
}
h2 {
    color: grey;
    text-align: center;
    margin-bottom: 20px;
}

main {
    margin: 50px;
    padding: 50px;
    border: #cacecc 2px solid;
    border-radius: 10px;
    background-color: #e6ece9;
}

.grid-index{
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 800px;
    grid-template-rows: auto auto auto;
    justify-content: center;
    justify-items: center;
    gap: 50px;
    border-radius: 5px;
}
.grid-index iframe {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
}


@media (max-width: 991px) {
    .grid-index{
        grid-template-columns: 300px;
        grid-template-rows: repeat(6, auto);
    }

    .grid-index iframe {
        max-width: 300px;
    }

}


//Estilo para pagina sobre nosotros
.imagen-sobre {
    max-width: 350px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}
@media (max-width: 768px) {
    .row-cols-2 {
        grid-template-columns: 1fr;
    }

    .imagen-sobre {
        max-width: 250px;
        margin: 10px auto;
    }
}


//Estilo para pagina servicios
.servicio-img {
    width: 100%;
    max-width: 110px;
    height: auto;
    margin: 0 auto 10px auto;
}

.servicio h3 {
    font-size: 1.2rem;
    margin-top: 10px;
    color: grey;
}


// .carousel-servicios {
//     max-width: 1100px;
//     margin: 0 auto;

//     .carousel-item img {
//         max-height: 500px;
//         object-fit: cover;
//         border-radius: 10px;
//     }

//     .carousel-caption {
//         background: rgba(0, 0, 0, 0.55);
//         border-radius: 8px;
//         padding: 0.5rem 1rem;
//     }
// }

// .carousel-index {
//     max-width: 1100px;
//     margin: 2rem auto;

//     .carousel-item img {
//         max-height: 500px;
//         object-fit: cover;
//         border-radius: 10px;
//     }

//     .carousel-caption {
//         background: rgba(0, 0, 0, 0.55);
//         border-radius: 8px;
//         padding: 0.5rem 1rem;
//     }
// }


// .carousel-marcas {
//     max-width: 1100px;
//     margin: 2rem auto;

//     .carousel-item {
//         height: 500px;
//     }

//     .carousel-item img {
//         height: 100%;
//         width: 100%;
//         object-fit: cover;
//         border-radius: 10px;
//     }

//     .carousel-caption {
//         background: rgba(0, 0, 0, 0.55);
//         border-radius: 8px;
//         padding: 0.5rem 1rem;
//     }
// }
