/* Fuente Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/* Estilos Generales */
body{
    font-family: "Oswald", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
.a-nav {
    text-decoration: none;
}

.li-nav {
    list-style-type: none;
}

.footer-p {
    font-size: 12px;
}

h1 {
    color: grey;
    text-align: center;
}
h2 {
    color: grey;
    text-align: center;
    margin-bottom: 20px;
}
header {
    background-color: #cacecc;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(131, 128, 128);
    border-radius: 500px;
}

footer {
    border: 2px solid rgb(131, 128, 128);
    background-color: #cacecc;
    text-align: center;
}
.grid-index{
    margin: 10px;
    padding: 10px;
    /* border: 1px solid black; */
    height: 100vh;
    display: grid;
    grid-template-columns: 800px;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    gap: 50px;
    border-radius: 5px;
}


